<div mdl class="insandwich-different insandwich-product-detail mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="productDetailCard">
      <div *ngIf="product" class="productDetailPicture" [style.background]="sanitize(product.Image)"></div>
    </div>
  </div>
  <div *ngIf="product" class="mdl-cell mdl-cell--6-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ product.Name }}</h2>
      </div>
      <div class="productDetailCard mdl-card__supporting-text">
        <div class="productDetails">
          <p class="insandwich-item-property"><span *ngIf="product?.Available != 1">Non</span> Disponible</p>
          <p class="insandwich-item-property"><span class="insandwich-item-title">Reference:</span> {{ product.Id }}</p>
          <p class="insandwich-item-property"><span class="insandwich-item-title">Descrition:</span> {{ product.Description }}</p>
          <p class="insandwich-item-property"><span class="insandwich-item-title">Price:</span> {{ product.Price }} token<span *ngIf="product.Price > 1">s</span></p>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a (click)="decrementAmount()" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
          <i class="material-icons">remove</i>
        </a>
        <span>{{ amountToOrder }}</span>
        <a (click)="incrementAmount()" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
          <i class="material-icons">add</i>
        </a>
        <a (click)="addToCart(product.Id)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">shopping_cart</i> Ajouter au panier
        </a>
      </div>
    </div>
  </div>
</div>
