<div mdl class="insandwich-different mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="logo-font insandwich-slogan">
      <a [routerLink]="['../']" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">arrow_back</i>
      </a>
      Administration des utilisateurs
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="products-admin-card insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rechercher un utilisateur</h2>
      </div>

      <div class="insandwich-search-section mdl-card__supporting-text">
        <div class="insandwich-search-bar-wrapper">
          <div class="insandwich-search-bar">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" [(ngModel)]="usernameFilter" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Search...</label>
            </div>
            <button (click)="search()" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <ul class="mdl-list">
          <li *ngFor="let user of users" (click)="onSelect(user)" [ngClass]="{'insandwich-list-selected': selected === user.Id }" class="insandwich-search-section--item mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{ user.Login }}
            </span>
          </li>
        </ul>
        <div class="insandwich-mini-paging">
          <div class="insandwich-mini-paging-wrapper">
            <button (click)="goToPreviousPage()" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">navigate_before</i>
            </button>
            {{ pageNumber + 1 }} / {{ pageCount }}
            <button (click)="goToNextPage()" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">navigate_next</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--8-col">
    <div class="user-admin-card insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Modifier un utilisateur</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="loginForm">
          <div *ngIf="displayModifiationSuccess" class="formated-success-message">Opération effectuée avec succès</div><br />
          <div *ngIf="displayModificationErr" class="formated-error-message">Erreur: {{ modificationErrMsg }} </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <p class="insandwich-item-property"><span class="insandwich-item-title">Identifier:</span> {{ selectedUser?.Id }} </p>
            <p class="insandwich-item-property"><span class="insandwich-item-title">Nom:</span> {{ selectedUser?.LastName }} </p>
            <p class="insandwich-item-property"><span class="insandwich-item-title">Prénom:</span> {{ selectedUser?.FirstName }} </p>
            <p class="insandwich-item-property"><span class="insandwich-item-title">Login:</span> {{ selectedUser?.Login }} </p>
            <p class="insandwich-item-property"><span class="insandwich-item-title">Email:</span> {{ selectedUser?.Email }} </p>
            <p class="insandwich-item-property"><span class="insandwich-item-title">Adresse:</span> {{ selectedUser?.Adresse }} </p>
          </div>
          <div class="mdl-cell mdl-cell--6-col">

            <div *ngIf="selectedUser" class="mdl-selectfield mdl-js-selectfield">
              <select class="mdl-selectfield__select" [(ngModel)]="selectedUser.Role" id="role" name="role">
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
              <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
            </div>
            <div *ngIf="selectedUser" class="mdl-textfield mdl-js-textfield">
              <label class="insandwich-form-label" for="tokens">Tokens:</label>
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="selectedUser.Tokens" id="tokens">
              <span class="mdl-textfield__error">Entrez un nombre SVP !</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a (click)="editUser()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Editer
        </a>
      </div>
      <div class="mdl-card__menu">
       <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
         <i id="tt3" class="material-icons">delete_forever</i>
       </button>
     </div>
    </div>
  </div>

</div>
