<div mdl class="insandwich-different insandwich-login-form">
  <div class="mdl-grid">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">S'enregistrer</h2>
      </div>
      <div class="mdl-card__supporting-text">

          <form action="#" class="loginForm">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="firstname">
              <label class="mdl-textfield__label" for="firstname">Prénom</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="lastname">
              <label class="mdl-textfield__label" for="lastname">Nom</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="email">
              <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="login">
              <label class="mdl-textfield__label" for="login">Login</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="password">
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <a [routerLink]="['../login']">Déjà un compte ? Cliquez ici pour vous connecter.</a>
          </form>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink]="" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
          S'enregistrer
        </a>
        <a [routerLink]="['../home']" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Annuler
        </a>
      </div>
    </div>
  </div>
</div>
