<div class="insandwich-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="insandwich-title mdl-layout-title">
      <img src="./images/logo.png" height="60" alt="logo">
    </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="insandwich-navigation mdl-navigation">
        <a class="mdl-navigation__link" href="">Sandwich</a>
        <a class="mdl-navigation__link" href="">Boissons</a>
        <a class="mdl-navigation__link" href="">Grignotage</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">shopping_cart</i> Payer</a>
    </nav>

    <span class="insandwich-mobile-title mdl-layout-title">
      <img src="./images/logo.png" height="60" alt="logo">
    </span>
  </div>
</div>
