<div mdl class="insandwich-marketing-section mdl-typography--text-center">
  <div class="logo-font insandwich-slogan">Une nouvelle façon d'apprécier son sandwich.</div>
  <div class="logo-font android-create-character">
    <img src="images/sandwich.png" height="200" alt="flat design sandwich">
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
    Consulter nos offres
  </button>
</div>
<div class="insandwich-different mdl-grid">

  <div class="mdl-cell mdl-cell--4-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Sandwiches</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Notre produit phare, venez découvrir nos sandwiches de grande qualité et conçus en France !
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Decouvrir la carte
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Boissons</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Afin de ne pas trop vous déshydrater, venez découvrir notre large gamme de boissons désaltérantes !
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Decouvrir la carte
        </a>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Desserts</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Qu'est-ce qu'un bon repas sans un dessert ? Delectez vous avec nos nombreux desserts !
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Decouvrir la carte
        </a>
      </div>
    </div>
  </div>
</div>
