<!--p>From here I can edit my profile</p>

  <h1>Editer son profil</h1>
  <p>Nom Complet: {{ user?.FirstName }} {{ user?.LastName }}</p>
  <p>Email: {{ user?.Email }}</p>
  <p>Login: {{ user?.Login }}</p>
  <p>Adresse: {{ user?.Adresse }}</p>
  <p>Tokens: {{ user?.Tokens }}</p>
  <h1>Historique des commandes ?</h1-->

<div mdl class="insandwich-different mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="logo-font insandwich-slogan">Bonjour {{ fullname }}</div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Modifier vos données</h2>
            </div>
            <div *ngIf="user" class="mdl-card__supporting-text">
                <div class="loginForm">
                  <div *ngIf="displayModificationSuccess" class="formated-success-message">Opération effectuée avec succès</div><br />
                    <div *ngIf="displayError" class="formated-error-message">Erreur: {{ errorMessage }}</div>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="insandwich-form-label">Prénom:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.FirstName" placeholder="Prénom" #firstname type="text" id="firstname">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Nom:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.LastName" placeholder="Nom" type="text" id="lastname">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">E-mail:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Email" placeholder="E-mail" type="email" id="email">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Nom d'utilisateur:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Login" placeholder="Login" type="text" id="login">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Adresse:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Adresse" placeholder="Adresse" type="text" id="adresse">
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a (click)="updateUserInfos()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Modifier les paramètres
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Modifier votre mot de passe</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="loginForm">
                  <div *ngIf="displayPasswordModificationSuccess" class="formated-success-message">Opération effectuée avec succès</div><br />
                  <div *ngIf="displayPasswordModificationError" class="formated-error-message">Erreur : {{ pwdModificationErrorMessage }}</div><br />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.oldpwd" #firstname type="password" id="previouspwd">
                        <label class="mdl-textfield__label" for="previouspwd">Ancien Mot de passe</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.pwd" #firstname type="password" id="pwd">
                        <label class="mdl-textfield__label" for="pwd">Nouveau mot de passe</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.pwdConfirm" type="password" id="pwdConfirm">
                        <label class="mdl-textfield__label" for="pwdConfirm">Confirmer le mot de passe</label>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a (click)="updatePassword()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Modifier le mot de passe
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div *ngIf="commands" class="insandwich-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Consultez vos anciennes commandes</h2>
            </div>
            <div class="commandCard mdl-card__supporting-text">
              <table class="insandwich-commandLines mdl-data-table mdl-js-data-table">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Numéro de commande</th>
                    <th class="mdl-data-table__cell--non-numeric">Nombre d'articles</th>
                    <th class="mdl-data-table__cell--non-numeric">Prix total</th>
                    <th class="mdl-data-table__cell--non-numeric">Date de création</th>
                    <th class="mdl-data-table__cell--non-numeric">Consulter</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let command of commands.items">
                    <td class="mdl-data-table__cell--non-numeric">{{ command.id }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ command.totalQuantity }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ command.totalPrice }} token<span *ngIf="command.totalPrice > 1">s</span></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ command.creationDate }}</td>
                    <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">exit_to_app</i></button></td>
                  </tr>
                </tbody>
              </table>
              <div class="insandwich-pagination-wrapper">
                <div class="insandwich-pagination">
                  <a>&laquo;</a>
                  <a>&lt;</a>
                  <a class="insandwich-pagination-active">{{ commands.pageNumber + 1 }}</a>
                  <p>/</p>
                  <p>{{ commands.pageCnt }}</p>
                  <a>&gt;</a>
                  <a>&raquo;</a>
                </div>
              </div>
            </div>
        </div>
    </div>

  </div>
