<!--p>From here I can edit my profile</p>

  <h1>Editer son profil</h1>
  <p>Nom Complet: {{ user?.FirstName }} {{ user?.LastName }}</p>
  <p>Email: {{ user?.Email }}</p>
  <p>Login: {{ user?.Login }}</p>
  <p>Adresse: {{ user?.Adresse }}</p>
  <p>Tokens: {{ user?.Tokens }}</p>
  <h1>Historique des commandes ?</h1-->

<div mdl class="insandwich-different mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="logo-font insandwich-slogan">Bonjour {{ fullname }}</div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Modifier vos données</h2>
            </div>
            <div *ngIf="user" class="mdl-card__supporting-text">
                <div class="loginForm">
                  <div *ngIf="displayModificationSuccess" class="formated-success-message">Opération effectuée avec succès</div><br />
                    <div *ngIf="displayError" class="formated-error-message">Erreur: {{ errorMessage }}</div>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="insandwich-form-label">Prénom:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.FirstName" placeholder="Prénom" #firstname type="text" id="firstname">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Nom:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.LastName" placeholder="Nom" type="text" id="lastname">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">E-mail:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Email" placeholder="E-mail" type="email" id="email">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Nom d'utilisateur:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Login" placeholder="Login" type="text" id="login">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <label class="insandwich-form-label">Adresse:</label>
                    <input class="mdl-textfield__input" [(ngModel)]="user.Adresse" placeholder="Adresse" type="text" id="adresse">
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a (click)="updateUserInfos()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Modifier les paramètres
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Modifier votre mot de passe</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="loginForm">
                  <div *ngIf="displayPasswordModificationSuccess" class="formated-success-message">Opération effectuée avec succès</div><br />
                  <div *ngIf="displayPasswordModificationError" class="formated-error-message">Erreur : {{ pwdModificationErrorMessage }}</div><br />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.oldpwd" #firstname type="password" id="previouspwd">
                        <label class="mdl-textfield__label" for="previouspwd">Ancien Mot de passe</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.pwd" #firstname type="password" id="pwd">
                        <label class="mdl-textfield__label" for="pwd">Nouveau mot de passe</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" [(ngModel)]="model.pwdConfirm" type="password" id="pwdConfirm">
                        <label class="mdl-textfield__label" for="pwdConfirm">Confirmer le mot de passe</label>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a (click)="updatePassword()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
          Modifier le mot de passe
        </a>
            </div>
        </div>

    </div>
