<div mdl class="insandwich-different mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="logo-font insandwich-slogan">Desserts</div>
  </div>
  <div *ngFor="let dessert of desserts" class="mdl-cell mdl-cell--4-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="productCard mdl-card__supporting-text">
        <div class="productImage" [style.background]="sanitize(dessert.Image)"></div>
        <span class="productName">{{ dessert.Name }}</span>
        <span class="productDesc">{{ dessert.Description | truncate : 100 }}</span>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink]="['/product', dessert.Id]" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Commander
        </a>
        <span class="productPrice">{{ dessert.Price }} Token<span *ngIf="dessert.Price > 1">s</span></span>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <div class="insandwich-pagination-wrapper">
      <div class="insandwich-pagination">
        <a (click)="gotToFirstPage()">&laquo;</a>
        <a (click)="gotToPreviousPage()">&lt;</a>
        <a class="insandwich-pagination-active">{{ pageNumber + 1 }}</a>
        <p>/</p>
        <p>{{ pageCount }}</p>
        <a (click)="goToNextPage()">&gt;</a>
        <a (click)="goToLastPage()">&raquo;</a>
      </div>
    </div>
  </div>
</div>
