<div class="insandwich-different">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#intro-panel" class="mdl-tabs__tab is-active">Introduction &amp; Fonctionnement Général</a>
        <a href="#back-panel" class="mdl-tabs__tab">Back-End &amp; Base de Données</a>
        <a href="#front-panel" class="mdl-tabs__tab">Front-End</a>
        <a href="#conclusion-panel" class="mdl-tabs__tab">Pistes d'amélioration</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="intro-panel">
      <br />
      <img src="./images/logo.png" height="200" alt="logo">
      <h1>Introduction</h1>

      <p>INSAndwich est le service de fabrication et livraison de repas personnalisés sur le campus ! Il permet la sélection puis la commande de sandwiches, boissons et desserts. Ceux ci sont accessibles aux étudiants et personnels du campus de la Doua. Il répond à la problématique croissante des temps d'attente aux différents restaurants universitaires ainsi qu'à la volonté des consommateurs de personnaliser leurs menus.</p>
      <p>La monnaie utilisée sur Insandwich est le token. Chaque utilisateur dispose d’un porte monnaie qu’il peut réapprovisionner aux bornes dédiées. Il devient alors possible de parcourir les produits disponibles dans le catalogue, dans une des trois catégories sandwiches, boissons et dessert.</p>
      <p>L’application dispose d’un portail de connexion sur lequel les utilisateurs peuvent se connecter pour accéder à leur espace personnel. C’est sur ce même portail que peuvent se connecter les admins qui disposent de droits supplémentaires. Cela comprend la création de produits, agir sur les comptes enregistrés et effectuer d’autres opérations de gestion.</p>
      <p>Dans le cas où l’utilisateur ne possède pas encore un compte, l’application l’invite à en créer un. Quelques champs sont à remplir afin de pouvoir identifier la personne sur le campus. Il ne reste plus qu’alors à se connecter et faire son choix.</p>

      <h1>Fonctionnement Général</h1>
      <p>Voici tout d'abord le schéma général de notre application : </p>
      <img src="https://docs.google.com/drawings/d/1XfEaFMrW3xMYEoBO4vtAezExMmeGK_ZGSl2fqFwdRbw/pub?w=480&amp;h=360">
      <p>Commençons avec la base de données. Pour cette dernière, nous avons optés pour utiliser <b>sqlite3</b>, basé donc sur du SQL. Cette base de données
        nous permets de stocker diverses informations grace à SQL. Ces données peuvent également être supprimées, mises à jour... La base de données de notre
        projet fait partie du <b>"back-end"</b> de notre application.</p>
      <p>Une autre partie de notre back-end est l'api rest. Cette dernière permet de faire la relation entre la base de données et des routes HTTP. Elle
        transforme en fait nos données SQL en Objet JSON qui pourra être traité par notre front-end par la suite. Le principe de l'api rest est de renvoyer
        une information précise en fonction de l'url, du verbe HTTP et de l'eventuelle ressource JSON envoyée par le front-end.</p>
      <p>La raison principale pour laquelle nous avons choisi de faire une api rest est pour la portabilité de l'application car il serait alors possible
        de créer, à titre d'exemple, une application mobile faisant des appels sur cette api à l'aide d'HTTP.</p>
      <p>Enfin, le <b>front-end</b> est la partie "visible" par l'utilisateur. Le front-end génère ce que l'on nomme ds "vues" pour l'utilisateur, et fait
        des requetes sur notre back-end en fonction des boutons cliqués, des pages à afficher, etc...</p>
      <p>Pour le front-end nous avons décidés d'utiliser une technologie plutôt récente, angular 2 car basé sur javascript et plutôt agréable a utiliser,
        et qui présente des facilités notamment dans l'organisation du code.</p>
      <p>Finalement, pour le design du site, nous utilisons material design lite, car plutôt à la mode, et d'actualité (les interfaces android récentes notamment
        sont en material design). Nous avons étés contraints néanmoins à écrire un peu de css nous mêmes.</p>


    </div>
    <div class="mdl-tabs__panel" id="back-panel">
      <br />
      <h1>Fonctionnement du back-end</h1>
      <p>Le back-end se compose principalement d'une API Rest, qui interagit avec une base de données.</p>

      <p>Pour lancer le projet, ils vous faut tout d'abord installer <a href="https://nodejs.org/en/download/package-manager/">nodejs</a> (Version > 4). <br />
        Ensuite, installez <a href="https://www.npmjs.com/">npm</a> (Version > 3.6).<br />
        Enfin, executez les commandes suivantes :</p>

      <code>$ git clone https://github.com/INSandwich/INSAndwich-Rest-API.git</code><br />
      <code>$ cd INSAndwich-Rest-API/api</code><br />
      <code>$ npm install</code><br />
      <code>$ npm start</code><br /><br />

      <h3>API Rest</h3>

      <p>Utilisant la technologie Express, qui est une bibliothèque de javascript, notre API utilise plusieurs contrôleurs dédiés à chaque partie de notre site : </p>

      <p>Le contrôleur index.js qui définit et répertorie chaque route accessible depuis le site, puis y associe une fonction. Les fonctions sont ensuite définies au sein de leur controleur respectif.</p>

      <p>On distingue quatre controleurs : </p>

      <p><b>Categories.js</b></p>

      <p>Contient les fonctions de gestion de catégories de produits (Sandwiches - Boissons - Desserts). Ces fonctions nous permettent d’obtenir les produits suivant leur catégorie et ainsi pouvoir afficher les Sandwiches et Boissons de façon séparée. Les fonctions create, update et delete nous permettent depuis le panneau d’administration de gérer nos catégories et d’en ajouter (ou supprimer) suivant l’évolution de notre gamme de produits (eg : ajouter une catégorie pizza).</p>

      <p><b>Orders.js</b></p>

      <p>Contient les fonctions de gestion de commandes. Ces fonctions nous permettent la gestion du panier et du paiement. Par exemple lors de l’ajout d’un produit au panier, il faudra soit créer une nouvelle entrée commande dans la base, ou l’ajouter à une commande existante. Pour cela il faudra connaître l’état des commandes en cours (payées ou non payées). La dernière commande passée non payée est sauvegardée et peut être complétée et payée à tout moment par l’utilisateur afin de satisfaire sa faim. Enfin le paiement est géré dans ce contrôleur par une fonction checkout, qui vérifie le montant total et la quantité de tokens disponibles de l’utilisateur.</p>

      <p><b>Users.js</b></p>

      <p>Contient les fonctions de gestion des utilisateurs. Ces fonctions nous permettent la gestion des connections et des utilisateurs du site. On pourra donc lister les utilisateurs et effectuer des recherches par login ou clé Id. Chaque utilisateur a la possibilité de changer ses informations dans un panneau dédié du site et grâce à une fonction vérifiant des paramètre valides. La gestion de l’authentification est aussi réalisée dans ce contrôleur : le mot de passe hashé dans le front-end est comparé à un hash stocké dans la Base. Nous ne transmettons, ni stockons de mots de passe en clair sur notre site ce qui garantit une sécurité optimale pour nos utilisateurs.</p>

      <p><b>Product.js</b></p>

      <p>Très semblable au contrôleur des utilisateurs, il permet de créer, supprimer ou mettre à jour les produits disponibles. De plus la gestion de catégories nous permet d’afficher uniquement une certaine partie de produits et ainsi séparer les différents types dans l’affichage.</p>

      <h3>Base de données</h3>
      <p>
          L’architecture de la base de données est la suivante :
      </p>
      <img alt="Database diagram" src="./images/database_diagram.png"/>
      <p>
          Une commande, stockée dans une entrée de <i>Commands</i>, peut avoir plusieurs produits
          différents, stockés dans <i>Command_Lines</i>. Chaque produit peut être commandé
          en plusieurs exemplaires (<i>Amount</i>), et chaque commande, crée à une date donnée
          (<i>Creation_date</i>), est associée à l’utilisateur qui l’a créé (dont les données sont
          stockées dans <i>Users</i>). Les mots de passe ne sont pas stockés en clair mais hashés.
          Les différents produits disponibles sont stockés dans la table <i>Products</i>, et
          appartiennent à une catégorie (sandwich, boisson…) ce qui permet un tri efficace
          sur le site.
        </p>
        <p>
          La base de donnée répond aux critères de la 3ème forme normale (3FN)
          ce qui permet de s’assurer de la cohérence des données. C’est pour cela que les
          produits d’une commande sont, séparés de la commande. Cela améliore également
          l’expérience utilisateur, car le front-end propose la même structure de données
          avec une gestion par commandes séparées.
        </p>
        <p>
          Cette base de donnée, relationnelle, est gérée
          par sqlite3, moteur relationnel de base de données. Il a l’avantage d’être
          relativement simple à prendre en main, et est également bien pris en
          charge par Express.
        </p>
        <p>
          Il est de travailler sur la base de données à l'aide de sqlite3, pour cela : <br/>
          <code>$ cd INSAndwich-Rest-API/api</code><br />
          <code>$ sqlite3 insadwich.db</code><br />

          Il est également à tout moment possible de regénérer la base de données à partir d'un
          fichier de commandes sql :  <br/>
          <code>$ rm insadwich.db</code><br />
          <code>$ sqlite3 insadwich.db < sql/insadwich.db </code><br />
        </p>

    </div>
    <div class="mdl-tabs__panel" id="front-panel">
      <br />
      <h3>Front-End</h3>

      <p>Pour lancer le projet, ils vous faut tout d'abord installer <a href="https://nodejs.org/en/download/package-manager/">nodejs</a> (Version > 4). <br />
        Ensuite, installez <a href="https://www.npmjs.com/">npm</a> (Version > 3.6), <b>lancez le back-end au préalable</b>.<br />
        Enfin, executez les commandes suivantes :</p>

      <code>$ git clone https://github.com/INSandwich/INSAndwich-front-end.git</code><br />
      <code>$ cd INSAndwich-front-end/app</code><br />
      <code>$ npm install</code><br />
      <code>$ npm start</code><br /><br />

      <p>Pour ce qui est du front-end d'insandwich, nous avons décidé d'utiliser <a href="https://angular.io/">Angular 2</a> pour la partie traitement
        de données et <a href="https://getmdl.io">Material Design Lite</a> pour l'affichage stylisé.
      </p>

      <h5>Angular 2</h5>

      <p><b>Architecture</b></p>
      <p>Le front-end se constitue de plusieurs éléments qui dialoguent entre eux. Pour bien comprendre le fonctionnement de ce dernier, nous vous proposons d’étudier le schéma “architecture” fournit sur le site d’angular 2.</p>
      <img src="https://angular.io/resources/images/devguide/architecture/overview2.png" height="300">
      <p>Comme nous pouvons le voir il y a divers éléments qui constituent notre application. Le coeur de métier d’Insandwich réside dans les <b>“components”</b>. En effet, chacune des pages que l’on peut visiter sur ce site est en fait un composant ayant un but unique, par exemple celui de récupérer les informations d’un produit pour les afficher.
        Pour ce faire, le composant va appeler un <b>service</b>, qui lui ira chercher dans le back-end la ressource demandée en fonction de l’URL et de la méthode HTTP employée. Le composant stockera l’information qui pourra ensuite être liée au <b>template</b>. Le template quant à lui est ce que l’utilisateur va voir, c’est-à-dire le HTML et CSS, grâce à son navigateur.
      </p>
      <p>On utilise également des <b>directives</b>, qui permettent de modifier elles aussi le DOM, par exemple pour les descriptions des produits que l’on tronque à 100 caractères dans les listes de produits, ou encore l’actualisation du javascript utilisé par material design lite à l’initialisation de l’application grâce à la directive “mdl”.
      </p>

      <p><b>"Single Page App"</b></p>

      <p>Une particularité d’Angular 2 est son aspect “<b>Single Page App</b>”. Pour obtenir cet aspect, il y a un composant <b>routeur</b> qui permet d’associer à chaque route son composant. Par exemple:
        <code>{{ '{' }} path: 'about', component: AboutComponent {{ '}' }}</code>. Grâce à cette association et lorsque la route ‘/about’ de notre site est chargée, Angular 2 affiche le template du composant “AboutComponent”. Couplé à un header et un footer comportant des liens vers les composants divers, il n’est donc <b>pas nécessaire</b> de recharger la page pour voir des informations différentes. Voici un schéma pour illustrer ces propos :
      </p>
      <img src="https://docs.google.com/drawings/d/19-2P-a-grUXF2w8N-SKmWWbGOpTHoyZlhUWR1BLXxec/pub?w=960&amp;h=480">

      <p><b>Spécificités liées à notre projet</b></p>
      <p>Une des spécificités de notre projet et l’aspect <b>authentification</b> par tokens et rôles des utilisateurs. En effet, un utilisateur ne pourra pas accéder à toutes les pages qu’il souhaite. Il faudrait par exemple que l’utilisateur soit un administrateur du site afin de pouvoir charger la page /admin de notre site. S’il n’est pas autorisé, l’utilisateur sera redirigé à une page /unauthorized.</p>
      <p>Tout cela est possible grâce à plusieurs mécanismes. L’utilisateur doit tout d’abord se connecter au site via la route /login. Il rentre son nom d’utilisateur, son mot de passe, puis le mot de passe est <b>hashé</b>, envoyé au back-end, et s’il correspond au mot de passe sauvegardé en base de données, le back-end renvoie diverses informations, notamment un <b>token</b> qui permettra de confirmer que l’utilisateur est bien authentifié, et de gérer l’accès aux diverses routes du back-end.</p>
      <p>Un autre mécanisme est celui des “<b>guards</b>”. Ces guards autorisent ou non l’utilisateur à accéder à une page, selon son rôle notamment, et s’il est authentifié. Tout cela est défini une fois de plus dans le composant de routage de notre application.</p>
      <p>Nous avons également mis en place plusieurs composants sur mesure tels qu’un <b>système de notification</b> pour l’utilisateur et des <b>boîtes de dialogue</b>. Ces derniers sont décrits comme des composants et sont eux-mêmes liés à des services, qui permettent d’ouvrir une notification ou une boîte de dialogue (ex : création de compte, suppression de commandes…).</p>
      <p>Enfin, nous avons optés pour la <b>pagination</b> des éléments listés afin d’éviter de faire de très grosses requêtes sur la base de données.</p>

    </div>
    <div class="mdl-tabs__panel" id="conclusion-panel">
      <br />
      <h3>Pistes d'amélioration</h3>
      <p>Durant nos réunions, notre équipe a mis en évidence plusieurs point d'amélioration
        possibles pour notre projet :</p>
      <ul>
      <li><p><b>Gestion plus poussée des stocks</b>. Il n'est actuellement pas possible
        de visionner la quantité restante d'un produit. Cela permettrait en premier lieu de notifier
        les clients de la rupture de stock d'un produit. Mais il serait également envisageable de mettre
        en place un système de notification pour les admins afin de prévoir à l'avance la diminution
        des stocks d'un produit.</p></li>
      <li><p><b>Gestion du service de livraison</b>. L'idée initiale supposait d'utiliser une
         flotte de drone. Il serait envisageable de proposer un suivi en direct du
         repas en se basant sur une Google Map. Angular 2 propose en effet un module
         spécialisé de gestion de cartes. On pourrait également estimer les temps de livraison,
         indiquer les bornes de rechargement à proximité etc.</p></li>
      <li><p><b>Notifications par mail</b>. Aujourd'hui, toute création de compte/réalisation
        d'une commande s'accompagne d'un mail envoyé aux interessés. Ce serait intéressant
        d'activer une telle fonctionnalité, et également de créer un formulaire de contact
        intégré au site</p></li>
      <li><p><b>Sécurité de l'api rest</b>. Un problème actuel, et ce qui nous pousse à ne pas mettre en ligne
        le site internet est l'absence d'authetification et de gestion de roles du coté back-end, et notamment
        api rest. C'est donc une amélioration possible du projet.</p></li>
      </ul>
    </div>
  </div>
</div>
