<div class="insandwich-different">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#intro-panel" class="mdl-tabs__tab is-active">Introduction &amp; Fonctionnement Général</a>
        <a href="#back-panel" class="mdl-tabs__tab">Back-End &amp; Base de Données</a>
        <a href="#front-panel" class="mdl-tabs__tab">Front-End</a>
        <a href="#conclusion-panel" class="mdl-tabs__tab">Conclusion</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="intro-panel">
      <br />
      <img src="./images/logo.png" height="200" alt="logo">
      <h1>Introduction</h1>

      <p>INSAndwich est le service de fabrication et livraison de repas personnalisés sur le campus ! Il permet la sélection puis la commande de sandwiches, boissons et desserts. Ceux ci sont accessibles aux étudiants et personnels du campus de la Doua. Il répond à la problématique croissante des temps d'attente aux différents restaurants universitaires ainsi qu'à la volonté des consommateurs de personnaliser leurs menus.</p>
      <p>La monnaie utilisée sur Insandwich est le token. Chaque utilisateur dispose d’un porte monnaie qu’il peut réapprovisionner aux bornes dédiées. Il devient alors possible de parcourir les produits disponibles dans le catalogue, dans une des trois catégories sandwiches, boissons et dessert.</p>
      <p>L’application dispose d’un portail de connexion sur lequel les utilisateurs peuvent se connecter pour accéder à leur espace personnel. C’est sur ce même portail que peuvent se connecter les admins qui disposent de droits supplémentaires. Cela comprend la création de produits, agir sur les comptes enregistrés et effectuer d’autres opérations de gestion.</p>
      <p>Dans le cas où l’utilisateur ne possède pas encore un compte, l’application l’invite à en créer un. Quelques champs sont à remplir afin de pouvoir identifier la personne sur le campus. Il ne reste plus qu’alors à se connecter et faire son choix.</p>

      <h1>Fonctionnement Général</h1>

      <p></p>

    </div>
    <div class="mdl-tabs__panel" id="back-panel">
      <br />
      <p>back</p>
    </div>
    <div class="mdl-tabs__panel" id="front-panel">
      <br />
      <p>front</p>
    </div>
    <div class="mdl-tabs__panel" id="conclusion-panel">
      <br />
      <h3>Conclusion</h3>
      <h4>Pistes d'amélioration</h4>
      <p>Durant nos réunions, notre équipe a mis en évidence plusieurs point d'amélioration
        possibles pour notre projet :</p>
      <ul>
      <li><p><b>Gestion plus poussée des stocks</b>. Il n'est actuellement pas possible
        de visionner la quantité restante d'un produit. Cela permettrait en premier lieu de notifier
        les clients de la rupture de stock d'un produit. Mais il serait également envisageable de mettre
        en place un système de notification pour les admins afin de prévoir à l'avance la diminution
        des stocks d'un produit.</p></li>
      <li><p><b>Gestion du service de livraison</b>. L'idée initiale supposait d'utiliser une
         flotte de drone. Il serait envisageable de proposer un suivi en direct du
         repas en se basant sur une Google Map. Angular 2 propose en effet un module
         spécialisé de gestion de cartes. On pourrait également estimer les temps de livraison,
         indiquer les bornes de rechargement à proximité etc.</p></li>
      <li><p><b>Notifications par mail</b>. Aujourd'hui, toute création de compte/réalisation
        d'une commande s'accompagne d'un mail envoyé aux interessés. Ce serait intéressant
        d'activer une telle fonctionnalité, et également de créer un formulaire de contact
        intégré au site</p></li>
      </ul>
    </div>
  </div>
</div>
