<div class="insandwich-different">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#intro-panel" class="mdl-tabs__tab is-active">Introduction &amp; Fonctionnement Général</a>
        <a href="#back-panel" class="mdl-tabs__tab">Back-End &amp; Base de Données</a>
        <a href="#front-panel" class="mdl-tabs__tab">Front-End</a>
        <a href="#conclusion-panel" class="mdl-tabs__tab">Conclusion</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="intro-panel">
      <br />
      <img src="./images/logo.png" height="200" alt="logo">
      <h1>Introduction</h1>

      <p>INSAndwich est le service de fabrication et livraison de repas personnalisés sur le campus ! Il permet la sélection puis la commande de sandwiches, boissons et desserts. Ceux ci sont accessibles aux étudiants et personnels du campus de la Doua. Il répond à la problématique croissante des temps d'attente aux différents restaurants universitaires ainsi qu'à la volonté des consommateurs de personnaliser leurs menus.</p>
      <p>La monnaie utilisée sur Insandwich est le token. Chaque utilisateur dispose d’un porte monnaie qu’il peut réapprovisionner aux bornes dédiées. Il devient alors possible de parcourir les produits disponibles dans le catalogue, dans une des trois catégories sandwiches, boissons et dessert.</p>
      <p>L’application dispose d’un portail de connexion sur lequel les utilisateurs peuvent se connecter pour accéder à leur espace personnel. C’est sur ce même portail que peuvent se connecter les admins qui disposent de droits supplémentaires. Cela comprend la création de produits, agir sur les comptes enregistrés et effectuer d’autres opérations de gestion.</p>
      <p>Dans le cas où l’utilisateur ne possède pas encore un compte, l’application l’invite à en créer un. Quelques champs sont à remplir afin de pouvoir identifier la personne sur le campus. Il ne reste plus qu’alors à se connecter et faire son choix.</p>

      <h1>Fonctionnement Général</h1>

      <p></p>

    </div>
    <div class="mdl-tabs__panel" id="back-panel">
      <br />
      <p>back</p>
    </div>
    <div class="mdl-tabs__panel" id="front-panel">
      <br />
      <h3>Front-End</h3>

      <p>Pour lancer le projet, ils vous faut tout d'abord installer <a href="https://nodejs.org/en/download/package-manager/">nodejs</a> (Version > 4). <br />
        Ensuite, installez <a href="https://www.npmjs.com/">npm</a> (Version > 3.6), <b>lancez le back-end au préalable</b>.<br />
        Enfin, executez les commandes suivantes :</p>

      <code>$ git clone https://github.com/INSandwich/INSAndwich-front-end.git</code><br />
      <code>$ cd INSAndwich-front-end/app</code><br />
      <code>$ npm install</code><br />
      <code>$ npm start</code><br /><br />

      <p>Pour ce qui est du front-end d'insandwich, nous avons décidé d'utiliser <a href="https://angular.io/">Angular 2</a> pour la partie traitement
        de données et <a href="https://getmdl.io">Material Design Lite</a> pour l'affichage stylisé.
      </p>

      <h5>Angular 2 et Architecture</h5>

      <p><b>Components</b></p>
      <p>Les components, ou composants, sont la base de l'application</p>

      <p></p>

    </div>
    <div class="mdl-tabs__panel" id="conclusion-panel">
      <br />
      <p>conclusion</p>
    </div>
  </div>
</div>
