<div class="insandwich-different mdl-grid">
<div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">FOIRE AUX QUESTIONS</h2>
</div>
 <div class="mdl-card__supporting-text">



Vous trouverez, ci-dessous, les réponses aux questions que vous posez le
plus fréquemment à notre hotline ou au service client. Nous souhaitons vous
apporter des éléments de réponse simple.<br/>
<br>

Pour utiliser cette page, il vous suffit de choisir la rubrique de votre
choix et de cliquer dessus, une liste de question apparaitra alors. Un
clic sur la question qui correspond à votre interrogation vous dévoilera
la réponse.<br/>
<br>

Si vous ne trouvez pas votre bonheur, nous sommes toujours disponibles.<br/>
<br>

Bonne lecture !
<br/>

  <section class="insandwich-accordion">
    <div class="insandwich-accordion.section">
      <br/>
      <input id="ac-1" name="accordion-1" type="checkbox" />
      <label for="ac-1">Je suis un client</label>

      <article class = "lvl-2">
        <input id="ac-1-1" name="accordion-1" type="checkbox" />
        <label for="ac-1-1">D'où proviennent vos viandes ?</label>
        <article>
            Des meilleurs élevages de la planète<br/>
            <br>
        </article>
      </article>

      <article class = "lvl-2">
        <input id="ac-1-2" name="accordion-1" type="checkbox" />
        <label for="ac-1-2">D'où proviennent vos crudités ?</label>
        <article>
            Des meilleures fermes de la planète<br/>
            <br>
        </article>
      </article>

      <article class = "lvl-2">
        <input id="ac-1-3" name="accordion-1" type="checkbox" />
        <label for="ac-1-3">La livraison est-elle payante ?</label>
        <article>
          Non, la livraison est entièrement gratuite.<br/>

          Bon à savoir : les frais de livraison n’entrent pas dans le
          calcul du minimum de commande. <br/>
            <br>
        </article>
      </article>

      <article class = "lvl-2">
        <input id="ac-1-4" name="accordion-1" type="checkbox" />
        <label for="ac-1-4">Qu'est ce que l'espace client ?</label>
        <article>
          Votre espace client Insadwich est un véritable espace personnel
          dédié dans lequel vous retrouvez toutes les informations vous
          concernant : vos coordonnées, votre programme fidélité avec votre
          nombre de tokens, vos dernières commandes etc… Pour accéder à
          votre compte vous devez vous identifier en cliquant sur "se
          connecter" si vous possédez déjà un compte.<br/>
          Si vous n'avez jamais utilisé les services Insandwich, il vous
          faut créer un compte en cliquant sur "s'inscrire".
            <br>
        </article>
      </article>
    </div>

    <div>
      <input id="ac-2" name="accordion-1" type="checkbox" />
      <label for="ac-2">Je suis un industriel</label>

      <article class = "lvl-2">
        <input id="ac-2-1" name="accordion-1" type="checkbox" />
        <label for="ac-2-1">Je souhaite m'inscrire sur le site Insandwich en tant que fournisseur</label>
        <article>
          Vous pouvez vous inscrire en envoyant un mail à l'adresse :<br/>
          contact.fournisseur@insandwich.fr<br/>
          Un commercial vous contactera dans les plus brefs délais.<br/>
            <br>
        </article>
      </article>

      <article class = "lvl-2">
        <input id="ac-2-2" name="accordion-1" type="checkbox" />
        <label for="ac-2-2">Je suis livreur, je souhaite proposer mes services</label>
        <article>
          Vous pouvez vous inscrire en envoyant un mail à l'adresse :<br/>
          contact.fournisseur@insandwich.fr<br/>
          Un commercial vous contactera dans les plus brefs délais.<br/>
          <br>
        </article>
      </article>
    </div>


  </section>
</div>
</div>
</div>
