<div mdl class="insandwich-different insandwich-product-detail mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="productDetailCard">
      <div class="productDetailPicture" style="background: url('https://s3-media3.fl.yelpcdn.com/bphoto/eBXcMq-5t-1Eu9UX55ngSA/o.jpg') no-repeat center /cover"></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Tacos</h2>
      </div>
      <div class="productDetailCard mdl-card__supporting-text">
        <div class="productDetails">
          <span class="productReference">Reference: 3</span>
          <span class="productDescription">Descrition: Le bon grec sa mèrrrrrrrrre</span>
          <span class="productPrice">Price: 2 tokens</span>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a [routerLink]="" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">shopping_cart</i> Ajouter au panier
        </a>
      </div>
    </div>
  </div>
</div>
