.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item h1 {
    text-align: center;
}

.mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}

.mdl-card__menu {
  color: white !important;
}

.formated-error-message {
  color: white;
  background-color: rgba(228, 38, 24, 0.6);
  width: 80%;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #E42618;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.formated-success-message {
  color: white;
  background-color: rgba(76, 175, 80, 0.6);
  width: 80%;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.insandwich-loading-container {
  height: 100%;
  width: 100%;
  background-color: rgba(245,245,245,0.5);
  z-index: 9999999;
}

.insandwich-loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.mdl-layout__content {
  min-width: 100%;
}

.insandwich-search-section {
  padding: 0px;
  width: 100%;
}

.insandwich-list-selected {
  background: rgba(25,25,25,0.35);
}

.insandwich-search-section--item:hover {
  background: rgba(200,200,200,0.35);
  cursor: pointer;
}

.insandwich-search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insandwich-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.insandwich-mini-paging {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.insandwich-search-bar > .mdl-textfield {
  margin-top: 10px;
}

.insandwich-navigation > * {
  cursor: pointer;
}

.insandwich-main {
    display: inherit;
}

.insandwich-color-grey {
  color: #878787;
}

.insandwich-mobile-navigation-toggle {
  display: none;
}

.insandwich-mobile-navigation-links {
  overflow: scroll;
  list-style: none;
  position: fixed;
  margin: 0px;
  background-color: #FFFFFF;
  padding: 10px 90px 0px 90px;
  height: 100%;
  z-index: 5;
  box-shadow: 0px 1px 8px #888888 !important;
}

.insandwich-mobile-navigation-link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.insandwich-mobile-navigation-link {
  cursor: pointer;
}


.insandwich-mobile-navigation-links .no-hover:hover {
  border-bottom: none;
}

insandwich-header {
  z-index: 99;
}

.insandwich-header {
  z-index: 99 !important;
  background-color: #FFFFFF !important;
  display: block !important;
  color: #878787;
  box-shadow: 0px 1px 5px #888888 !important;
}

.insandwich-mobile-title {
  display: none !important;
}

.insandwich-navigation *{
  color: #555555 !important;
  font-size: 20px;
}

.insandwich-navigation a:hover {
  border-bottom: 4px solid #E42618;
}

.insandwich-mobile-navigation *{
  padding-bottom: 5px;
  font-size: 20px;
}

.insandwich-mobile-navigation a:hover {
  color: #999999 !important;
  border-bottom: 4px solid #E42618;
}

.insandwich-marketing-section {
  position: relative;
  width: auto;
  background-color: #F3F3F3;
}

.insandwich-marketing-section *{
  margin-bottom: 20px;
}

.insandwich-different {
  margin-top: 20px;
  width: 80%;
}

.insandwich-404-card {
  text-align: center !important;
}

.insandwich-item-title {
  font-weight: bold;
}

.insandwich-card-wide {
  width: 100%;
  text-align: justify;
  overflow: visible;
}

.insandwich-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  background: #E42618;
}

.products-admin-card > .mdl-card__title {
  background: #1A237E;
}

.user-admin-card > .mdl-card__title {
  background: #1A237E;
}

.insandwich-404-card > .mdl-card__title {
  height: 200px;
  background: url('../images/hotdog.png') center no-repeat #E42618;
  background-size: contain;
}

.insandwich-card-wide > .mdl-card__supporting-text {
  font-size: 15px;
}

.insandwich-slogan {
  font-size: 50px;
  line-height: 50px;
  color: #888888;
  padding-top: 50px;
  margin-bottom: 40px;
}

.insandwich-login-form {
  width: 70%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.insandwich-product-detail {
  display: flex;
  align-items: center;
}

.productCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 275px;
}

.productImage {
  width: 85%;
  height: 192px;
  border-radius: 200px;
  margin-bottom: 15px;
}

.productName {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.productDetailPicture {
  width: 95%;
  min-height: 300px;
  border-radius: 200px;
  margin: auto;
}

.commandCard {
  width: auto;
}

.insandwich-command-token-amount {
  color: white;
  font-size: 20px;
}

.insandwich-commandLines {
  width: 90%;
  margin: auto;
}

.insandwich-form-label {
  font-style: italic;
  font-weight: bold;
}

.insandwich-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.insandwich-pagination {
  display: inline-block;
}

.insandwich-pagination * {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.insandwich-pagination a.insandwich-pagination-active {
  background-color: rgb(34, 150, 243);
  color: white;
}

.insandwich-pagination a:hover:not(.insandwich-pagination-active) {
  background-color: #ddd;
}

@media (max-width: 900px) {
  .insandwich-mobile-title {
    display: block !important;
    position: absolute !important;
    left: calc(50% - 70px);

  }
  .insandwich-title {
    display: none !important;
  }

  .insandwich-mobile-navigation-toggle {
    display: block !important;
  }

  .insandwich-navigation {
    display: none !important;
  }
}
