.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item h1 {
    text-align: center;
}

.insandwich-notif {
  position: fixed;
  bottom: 15px;
  animation: slideUp 0.6s;
  right: 30px;
  z-index: 9999;
  color: #FFF;
  box-shadow: 2px 2px 4px #888888;
}

.insandwich-notif-success {
  background-color: green;
}

.insandwich-notif-failure {
  background-color: #E42618;
}

.insandwich-notif-wrapper {
  padding: 15px;
}

.insandwich-notif-title {
  font-size: 25px;
  font-weight: bold;
}

.insandwich-notif-message {
  font-size: 15px;
  margin-top: 10px;
}

modal {
    /* modals are hidden by default */
    display: none;
}

.modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInLoad 0.5s;
}

.modal-body {
    padding: 30px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 40px;

}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

.no-commands {
  text-align:  center;
  padding-top: 20px;
}

.mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}

.mdl-card__menu {
  color: white !important;
}

.formated-error-message {
  color: white;
  background-color: rgba(228, 38, 24, 0.6);
  width: 80%;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #E42618;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.formated-success-message {
  color: white;
  background-color: rgba(76, 175, 80, 0.6);
  width: 80%;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.insandwich-sandstorm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.insandwich-loading-container {
  height: 100%;
  width: 100%;
  background-color: rgba(245,245,245,0.5);
  z-index: 9999999;
}

.insandwich-loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.mdl-layout__content {
  min-width: 100%;
}

.insandwich-search-section {
  padding: 0px;
  width: 100%;
}

.insandwich-list-selected {
  background: rgba(25,25,25,0.35);
}

.insandwich-search-section--item:hover {
  background: rgba(200,200,200,0.35);
  cursor: pointer;
}

.insandwich-search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insandwich-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.insandwich-mini-paging {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.insandwich-search-bar > .mdl-textfield {
  margin-top: 10px;
}

.insandwich-navigation > * {
  cursor: pointer;
}

.insandwich-main {
    display: inherit;
}

.insandwich-color-grey {
  color: #878787;
}

.insandwich-mobile-navigation-toggle {
  display: none;
}

.insandwich-mobile-navigation-links {
  overflow: scroll;
  list-style: none;
  position: fixed;
  margin: 0px;
  background-color: #FFFFFF;
  padding: 10px 90px 0px 90px;
  height: 100%;
  z-index: 5;
  box-shadow: 0px 1px 8px #888888 !important;
}

.insandwich-mobile-navigation-link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.insandwich-mobile-navigation-link {
  cursor: pointer;
}


.insandwich-mobile-navigation-links .no-hover:hover {
  border-bottom: none;
}

insandwich-header {
  z-index: 99;
}

.insandwich-header {
  z-index: 99 !important;
  background-color: #FFFFFF !important;
  display: block !important;
  color: #878787;
  box-shadow: 0px 1px 5px #888888 !important;
}

.insandwich-mobile-title {
  display: none !important;
}

.insandwich-navigation *{
  color: #555555 !important;
  font-size: 20px;
}

.insandwich-navigation a:hover {
  border-bottom: 4px solid #E42618;
}

.insandwich-mobile-navigation *{
  padding-bottom: 5px;
  font-size: 20px;
}

.insandwich-mobile-navigation a:hover {
  color: #999999 !important;
  border-bottom: 4px solid #E42618;
}

.insandwich-marketing-section {
  position: relative;
  width: auto;
  background-color: #F3F3F3;
}

.insandwich-marketing-section *{
  margin-bottom: 20px;
}

.insandwich-different {
  margin-top: 20px;
  width: 80%;
  animation: fadeInLoad 0.5s;
}

.insandwich-404-card {
  text-align: center !important;
}

.insandwich-item-title {
  font-weight: bold;
}

.insandwich-card-wide {
  width: 100%;
  text-align: justify;
  overflow: visible;
}

.insandwich-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  background: #E42618;
}

.products-admin-card > .mdl-card__title {
  background: #1A237E;
}

.user-admin-card > .mdl-card__title {
  background: #1A237E;
}

.insandwich-404-card > .mdl-card__title {
  height: 200px;
  background: url('../images/hotdog.png') center no-repeat #E42618;
  background-size: contain;
}

.insandwich-card-wide > .mdl-card__supporting-text {
  font-size: 15px;
}

.insandwich-slogan {
  font-size: 50px;
  line-height: 50px;
  color: #888888;
  padding-top: 50px;
  margin-bottom: 40px;
}

.insandwich-login-form {
  width: 70%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.insandwich-product-detail {
  display: flex;
  align-items: center;
}

.productCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 275px;
}

.productImage {
  width: 85%;
  height: 192px;
  border-radius: 200px;
  margin-bottom: 15px;
  transition: width 2s,height 2s;
}
.productImage:hover {
  width: 300px;
  height: 200px;
  position: center;
}

.productName {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.productDetailPicture {
  width: 95%;
  min-height: 300px;
  border-radius: 200px;
  margin: auto;
}

.commandCard {
  width: auto;
}

.insandwich-command-token-amount {
  color: white;
  font-size: 20px;
}

.insandwich-commandLines {
  width: 90%;
  margin: auto;
}

.insandwich-form-label {
  font-style: italic;
  font-weight: bold;
}

.insandwich-pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.insandwich-pagination {
  display: inline-block;
}

.insandwich-pagination * {
  color: black;
  float: left;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.insandwich-pagination a.insandwich-pagination-active {
  background-color: rgb(34, 150, 243);
  color: white;
}

.insandwich-pagination a:hover:not(.insandwich-pagination-active) {
  background-color: #ddd;
}

.insandwich-accordion{
  margin: 10px auto 30px auto;
  text-align: left;
}

.insandwich-accordion label{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  line-height: 33px;
  font-size: 19px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    1px 0px 0px 0px rgba(255,255,255,0.9) inset,
    0px 2px 2px rgba(0,0,0,0.1);
}

.insandwich-accordion label:hover{
  background: #fff;
}
.insandwich-accordion input:checked + label,
.insandwich-accordion input:checked + label:hover{
  background: #E42618;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    0px 2px 2px rgba(0,0,0,0.1);
}

.insandwich-accordion label:hover:after,
.insandwich-accordion input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.insandwich-accordion input:checked + label:hover:after{
  background-image: url(../images/arrow_up.png);
}
.insandwich-accordion input{
  display: none;
}

.insandwich-accordion article{
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.insandwich-accordion article p{
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.insandwich-accordion input:checked ~ article{
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  max-height: 2300px;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes slideUp {
  from {
    opacity: 0;
    bottom: -10px;
  }
  to {
    opacity: 1;
    bottom: 15px;
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    bottom: 15px;
  }
  to {
    opacity: 0;
    bottom: -10px;
  }
}

@media (max-width: 900px) {
  .insandwich-mobile-title {
    display: block !important;
    position: absolute !important;
    left: calc(50% - 70px);

  }
  .insandwich-title {
    display: none !important;
  }

  .insandwich-mobile-navigation-toggle {
    display: block !important;
  }

  .insandwich-navigation {
    display: none !important;
  }
}

@media (max-width: 1400px) {

  .productCard {
    min-height: 290px;
  }
  .insandwich-navigation .mdl-navigation__link {
    font-size: 17px !important;
  }
  .insandwich-badge {
    font-size: 17px !important;
  }
  .box-icon {
    display: none !important;
  }

  .cart-icon {
    display: none !important;
  }
}
