.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item h1 {
    text-align: center;
}

.mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}

.mdl-layout__content {
  min-width: 100%;
}

.insandwich-main {
    display: inherit;
}

.insandwich-color-grey {
  color: #878787;
}

.insandwich-mobile-navigation-toggle {
  display: none;
}

.insandwich-mobile-navigation-links {
  overflow: scroll;
  list-style: none;
  position: fixed;
  margin: 0px;
  background-color: #FFFFFF;
  padding: 10px 90px 0px 90px;
  height: 100%;
  z-index: 5;
  box-shadow: 0px 1px 8px #888888 !important;
}

.insandwich-mobile-navigation-link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.insandwich-mobile-navigation-link *:hover {
  cursor: pointer;
}

.insandwich-mobile-navigation-links .no-hover:hover {
  border-bottom: none;
}

insandwich-header {
  z-index: 99;
}

.insandwich-header {
  z-index: 99 !important;
  background-color: #FFFFFF !important;
  display: block !important;
  color: #878787;
  box-shadow: 0px 1px 5px #888888 !important;
}

.insandwich-mobile-title {
  display: none !important;
}

.insandwich-navigation *{
  color: #555555 !important;
  font-size: 20px;
}

.insandwich-navigation a:hover {
  color: #999999 !important;
  border-bottom: 4px solid #E42618;
}

.insandwich-mobile-navigation *{
  color: #555555 !important;
  font-size: 20px;
}

.insandwich-mobile-navigation a:hover {
  color: #999999 !important;
  border-bottom: 4px solid #E42618;
}

.insandwich-marketing-section {
  position: relative;
  width: auto;
  background-color: #F3F3F3;
}

.insandwich-marketing-section *{
  margin-bottom: 20px;
}

.insandwich-different {
  margin-top: 20px;
  width: 80%;
}

.insandwich-404-card {
  text-align: center !important;
}

.insandwich-card-wide {
  width: 100%;
  text-align: justify;
}

.insandwich-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  background: #E42618;
}

.insandwich-404-card > .mdl-card__title {
  height: 200px;
  background: url('../images/hotdog.png') center no-repeat #E42618;
  background-size: contain;
}

.insandwich-card-wide > .mdl-card__supporting-text {
  font-size: 15px;
}

.insandwich-slogan {
  font-size: 50px;
  line-height: 50px;
  color: #888888;
  padding-top: 50px;
  margin-bottom: 40px;
}

.insandwich-login-form {
  width: 70%;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.insandwich-product-detail {
  display: flex;
  align-items: center;
}

.productCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productImage {
  width: 85%;
  height: 192px;
  border-radius: 200px;
  margin-bottom: 15px;
}

.productName {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.productDetailPicture {
  width: 95%;
  min-height: 300px;
  border-radius: 200px;
  margin: auto;
}

@media (max-width: 900px) {
  .insandwich-mobile-title {
    display: block !important;
    position: absolute !important;
    left: calc(50% - 70px);

  }
  .insandwich-title {
    display: none !important;
  }

  .insandwich-mobile-navigation-toggle {
    display: block !important;
  }

  .insandwich-navigation {
    display: none !important;
  }
}
