<div mdl class="insandwich-different mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">

    <div class="logo-font insandwich-slogan">
      <a [routerLink]="['../']" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">arrow_back</i>
      </a>
      Administration des produits
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="products-admin-card insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Rechercher un produit</h2>
      </div>
      <div class="insandwich-search-section mdl-card__supporting-text">
        <div class="insandwich-search-bar">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Search...</label>
          </div>
        </div>
        <ul class="mdl-list">
          <li class="insandwich-list-selected mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Kebab
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Glace
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Coca-Cola
            </span>
          </li>
        </ul>
        <div class="insandwich-mini-paging">
          <div class="insandwich-mini-paging-wrapper">
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">navigate_before</i>
            </button>
            1 / 20
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">navigate_next</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--8-col">
    <div class="user-admin-card insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Editer un produit</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="mdl-card__supporting-text">
            <div class="loginForm">
              <div class="formated-success-message">Opération effectuée avec succès</div><br />
              <div class="formated-error-message">Erreur: errorMessage </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <label class="insandwich-form-label">Nom:</label>
                <input class="mdl-textfield__input" placeholder="Nom de l'article" #firstname type="text" id="firstname">
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="insandwich-form-label" for="description">Description:</label>
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="description" ></textarea>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="insandwich-form-label">Image:</label>
              <input class="mdl-textfield__input" placeholder="Lien de l'image" type="text" id="image">
            </div>
            <div class="mdl-selectfield mdl-js-selectfield">
              <select class="mdl-selectfield__select" id="category" name="category">
                <option value=""></option>
                <option value="option1">Sandwich</option>
                <option value="option2">Dessert</option>
                <option value="option2">Boisson</option>
              </select>
              <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
              <label class="mdl-selectfield__label" for="category">Categorie</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="insandwich-form-label" for="tokens">Prix:</label>
              <input class="mdl-textfield__input" placeholder="Prix en tokens" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="tokens">
              <span class="mdl-textfield__error">Entrez un nombre SVP !</span>
            </div>
            <input type="hidden" name="available" value="1">
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Editer
        </a>
      </div>
      <div class="mdl-card__menu">
       <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
         <i id="tt3" class="material-icons">delete_forever</i>
       </button>
     </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div class="user-admin-card insandwich-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Créer un nouveau produit</h2>
      </div>
      <div class="mdl-card__supporting-text">
          <div class="loginForm">
            <div class="formated-success-message">Opération effectuée avec succès</div><br />
            <div class="formated-error-message">Erreur: errorMessage </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="name">
              <label class="mdl-textfield__label" for="name">Nom...</label>
            </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="image">
            <label class="mdl-textfield__label" for="image">Image...</label>
          </div>
          <div class="mdl-selectfield mdl-js-selectfield">
            <select class="mdl-selectfield__select" id="category" name="category">
              <option value=""></option>
              <option value="option1">Sandwich</option>
              <option value="option2">Dessert</option>
              <option value="option2">Boisson</option>
            </select>
            <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
            <label class="mdl-selectfield__label" for="category">Categorie</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="price">
            <label class="mdl-textfield__label" for="price">Prix en tokens...</label>
            <span class="mdl-textfield__error">Entrez un nombre SVP!</span>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="description" ></textarea>
            <label class="mdl-textfield__label" for="description">Description:</label>
          </div>
          <input type="hidden" name="available" value="1">
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Créer
        </a>
      </div>
    </div>
  </div>

</div>
